body
{
color: Blue;
width: auto;
height: auto;
}
#mainc
{
color: Blue;
width: auto;
height: auto;
}
footer
{
background-color: White;
width: 250px;
height: 250px;
}
.beforefooter
{
background-color: White;
width: auto;
height: auto;
}
#cometome
{
color: Gold;
}
#ownername
{
color: Blue;
}