{% include "header.liquid" %}
<h1>{{ page.title }}</h1>
<p>Published on: {{ page.date: "%A, %B %d %Y" }}, GMT+6:30</p>

{{ page.content }}

<script src="https://utteranc.es/client.js"
        repo="harrymkt/harrymkt.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

{% include "footer.liquid" %}