{%extends "base.html"%}
{%-block title-%}
{%- set section=get_section(path=page.ancestors | last) -%}
{{page.title}}{{config.extra.title_sep}}{{section.title}}{{config.extra.title_sep}}{{super()}}
{%-endblock title-%}
{%-block content-%}
<h1>{{page.title}}</h1>
{%if page.updated%}<p>Updated: <script>document.write(local_datetime_string("{{page.updated}}"));</script></p>{%endif%}
{{postmc::show_post_authors(post=page, tr=tr)}}
<p>Published on: <script>document.write(local_datetime_string("{{page.date}}"));</script></p>
<p>Total words: {{page.word_count}}</p>
<p>Reading time: {{page.reading_time}} minute{{page.reading_time | pluralize}}</p>
<br>
{{page.content | safe}}

<script src="https://giscus.app/client.js"
        data-repo="harrymkt/harrymkt.github.io"
        data-repo-id="R_kgDOLG3Hdg"
        data-category="Comments"
        data-category-id="DIC_kwDOLG3Hds4Ch_7D"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{%-endblock content-%}