{%-extends "base.html"-%}
{%-block title-%}{{page.title}}{{config.extra.title_sep}}{{super()}}{%-endblock title-%}
{%-block content-%}
{{content::process(page=page)}}
{%if page.extra.projects-%}
{%-set projectcount=page.extra.projects|length-%}
<p>There {{projectcount | pluralize(plural="are", singular="is")}} {{projectcount}} project{{projectcount | pluralize}} available</p>
{%-for p in page.extra.projects%}
<h2><a href="{{p.url | safe}}">{{p.name}}</a></h2>
<p>Type: {{p.type}}.</p>
{%-if p.status%}<p>Status: {{p.status}}</p>{%-endif%}
{%-if p.description%}
<br>
{{p.description|markdown|safe}}
{%- endif-%}
{%-endfor-%}
{%-else-%}
<p>There are currently no projects available to show up.</p>
{%-endif-%}
{%-endblock content-%}