{{ (partial "content.html" (dict "value" .Content "page" . )) | safeHTML }}

{{- partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

<script src="https://giscus.app/client.js"
        data-repo="harrymkt/harrymkt.github.io"
        data-repo-id="R_kgDOLG3Hdg"
        data-category="Comments"
        data-category-id="DIC_kwDOLG3Hds4Ch_7D"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>